{% extends "base.html" %}

{% block content %}
<div id="operacje">Trwa wczytywanie dostępnych operacji...</div>
<form id="formularz" class="form">
    {{ form }} <input type="button" onclick="wynik_in()" value="Wyślij" />
</form>
    <div id="wynik"></div>
{% endblock %}